

---

**Python Basic Assignment - Assignment_4**

**Q.1.** What exactly is []?

**Ans.** In python, a list is created by placing elements inside square brackets [], seperated by comma ",". Also allows to create a list and it's contents in your program.

known as Index brackets - "[]". We can also tell this as an empty list value. i.e, no value in the list.

**Q.2.**  In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

**Ans.** spam[2] = "hello", as the start index value starts with 0, so the third value will be - 2

In [1]:
spam = [2,4,6,8,10]
print(spam)
spam[2] = "hello"
print("After assigning the value",spam[2]," at third position: ",spam)

[2, 4, 6, 8, 10]
After assigning the value hello  at third position:  [2, 4, 'hello', 8, 10]

Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

**Q.3.** What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

**Ans.** To answer the above question, we will go through by breakingit, and solving the brackets first. 

('3' * 2) = '33'

int(33)/11 = 33/11 = 3.0

int(3.0) = 3

spam[3] = 'd'

spam[int(int('3' * 2) / 11)] = d, d is the answer.

In [5]:
spam = ['a', 'b', 'c', 'd'] 
print(spam[int(int('3' * 2) / 11)])

d

**Q.4.** What is the value of spam[-1]?

**Ans.** with index -1, it will give the last element of the list spam.

spam[-1] = d

In [6]:
print(spam[-1])

d

**Q.5** What is the value of spam[:2]?

**Ans.** staring from the 0th index till before 2nd index. i.e,

'a', 'b'

In [22]:
print(spam[:2])

['a', 'b']

Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

**Q.6.** What is the value of bacon.index(&#39;cat&#39;)?

**Ans.** bacon.index('cat') = 1, 

it start searching from index 0 and when the element = cat is found, it will return the index.

In [23]:
 bacon = [3.14, 'cat', 11, 'cat', True] 
 bacon.index('cat')

1

**Q.7.** How does bacon.append(99) change the look of the list value in bacon?

**Ans.**  Append is the in-built method, when it is called, it will add element to the end of the list.


so, bacon becomes as  bacon = [3.14, 'cat', 11, 'cat', True, 99]

In [41]:
 bacon = [3.14, 'cat', 11, 'cat', True] 
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

**Q.8** How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

**Ans.** The remove command will find the 'cat' element and delete it. Also indexing of all the element next to cat element will change. It start searching from index 0 and when the element is found, delete it. method removes the first matching value.

In [42]:
print(bacon)
bacon.remove('cat')
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]
[3.14, 11, 'cat', True, 99]

**Q.9.** What are the list concatenation and list replication operators?

**Ans.** Operators - Special symbol in python that carries mathematical or logical operations. 

Concatenation operator - '+' , add two string
replication operator - '*' ,  when multiplied with n, gives n number of copies.

**Q.10.** What is difference between the list methods append() and insert()?

**Ans.**
Both are the in built Function/methhod, The differences are listed given below - 

append() - Append method add the element only at the end of the list.

where as 

insert() - Insert method allows to add a specific element  at a specified index of the list.

In [43]:
bacon
bacon.insert(0,"hello")
print(bacon)
bacon.append("hello")
print(bacon)

['hello', 3.14, 11, 'cat', True, 99]
['hello', 3.14, 11, 'cat', True, 99, 'hello']

**Q.11.** What are the two methods for removing items from a list?

**Ans.** 1. remove() - method removes the first matching value.

2. pop() - method removes the item from the specified index/position

In [44]:
print(bacon)
bacon.remove("hello")
print(bacon)
bacon.pop(5)
print(bacon)

['hello', 3.14, 11, 'cat', True, 99, 'hello']
[3.14, 11, 'cat', True, 99, 'hello']
[3.14, 11, 'cat', True, 99]

**Q.12.** Describe how list values and string values are identical.

**Ans.**
The similarity between Lists and strings in python is that both are sequences.
When they are accessed with index they gives identical/similar output.

In [48]:
name1 = ['S','h','a','r','v','a','n']
name2 = "Sharvan"
print(name1[1])
print(name2[1])
print(name1[0:4], " = ",name2[0:4])

h
h
['S', 'h', 'a', 'r']  =  Shar

**Q.13.** What&#39;s the difference between tuples and lists?

**Ans.**
The key difference between the tuple and list is - The Tuple is immutable, cannot be changed. But the lists are mutable, can be modified.

In [49]:
#list
ex1 = [1,2,3,4,5,6]
ex1[3] = 100
print(ex1)

[1, 2, 3, 100, 5, 6]

In [52]:
#tuple
ex2 = (1,2,3,4,5,6)
try:
  ex2[3] = 100
except:
  print(" Type Error: 'tuple' object does not support item assignment")

 Type Error: 'tuple' object does not support item assignment

**Q.14** How do you type a tuple value that only contains the integer 42?

**Ans.**
we can use the given command - 
tuple_data = (42)

In [56]:
tuple_data = (42)
print(tuple_data)
print(type(tuple_data))

42
<class 'int'>

**Q.15** How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

**Ans.**
To get a list value in tuple form, we will use keyword tuple. Inside the tuple we will pass the list.
data1 = [1,2,3,4]
data2 = tuple(data1)
print("normal list",data1)
print("list in tuple form",data2)

Also, To get a tuple value in list form, we will use keyword list. Inside the list we will pass the tuple.
data3 = (1,2,3,4,5,6,7,8)
data4 = list(data3)
print("normal tuple",data3)
print("tuple in list form",data4)

In [6]:
data1 = [1,2,3,4]
data2 = tuple(data1)
print("normal list",data1)
print("list in tuple form",data2)
data3 = (1,2,3,4,5,6,7,8)
data4 = list(data3)
print("normal tuple",data3)
print("tuple in list form",data4)

normal list [1, 2, 3, 4]
list in tuple form (1, 2, 3, 4)
normal tuple (1, 2, 3, 4, 5, 6, 7, 8)
tuple in list form [1, 2, 3, 4, 5, 6, 7, 8]

**Q.16.** Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

**Ans.**
Variables will contain references to list values rather than list values themselves.

But for strings and integer values, variables simply contain the string or integer value.

**Q.17** How do you distinguish between copy.copy() and copy.deepcopy()?

**Ans.**
copy.copy() returns returns a shallow copy of list. A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.

copy.deepcopy() returns a deep copy of list. A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

In [21]:
# Example of deepcopy
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [22]:

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [23]:
# Example of Copy
old_list1 = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
new_list1 = copy.copy(old_list1)

print("Old list1:", old_list1)
print("New list1:", new_list1)

Old list: [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
New list: [[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [24]:
old_list1 = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
new_list1 = copy.copy(old_list1)
old_list1[1][0] = 'BBAA'

print("Old list1:", old_list1)
print("New list1:", new_list1)

Old list1: [[1, 2, 3], ['BBAA', 3, 4], [3, 4, 5]]
New list1: [[1, 2, 3], ['BBAA', 3, 4], [3, 4, 5]]